<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
    WebFontConfig = {
        google: {
            families: ['Karla:400,700']
        }
    };
    WebFont.load({
        custom: {
            families: ['butlerlight']
        }
    });
</script>

<style>
    @font-face {
        font-family: 'butlerlight';
        src: url('https://res.cloudinary.com/drewkramer/raw/upload/v1541645654/drewkramer/butler_light-webfont.woff2') format('woff2'),
            url('https://res.cloudinary.com/drewkramer/raw/upload/v1541631923/drewkramer/butler_light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>