    <footer class="Footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a class="navbar-brand" href="#">Drew Kramer</a>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <nav class="nav flex-column">
                                <a class="nav-link" href="#">Work</a>
                                <a class="nav-link" href="#">About</a>
                                <a class="nav-link" href="#">Contact</a>
                            </nav>
                        </div>
                        <div class="col-6">
                            <nav class="nav flex-column">
                                <a class="nav-link" href="#">Instagram</a>
                                <a class="nav-link" href="#">Dribbble</a>
                                <a class="nav-link" href="#">Github</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <!-- Load responsive images via Cloudinary -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.5.0/cloudinary-core-shrinkwrap.min.js"></script>

    <script>
        var cl = cloudinary.Cloudinary.new({
            cloud_name: "drewkramer"
        });
        cl.responsive();
    </script>
    
    <script src="/app.js"></script>


</body>
</html>
