<footer class="footer">
    <div class="footer__content">
        <div class="getintouch">
            <div class="getintouch-grid">
                <div class="getintouch__img">
                    <img 
                        data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale,f_auto,q_auto/v1537372347/drewkramer/dk-hero.jpg" 
                        class="cld-responsive img-circle" 
                        alt="Drew Kramer">
                </div>
                <div class="getintouch__words">
                    <p>👋 I’m Drew. I love Jesus, my wife Bethany, design, & black coffee.</p>
                    <p>Shoot me a note if you’d like to say hi!</p>
                    <a href="/contact/" class="button button--arrow button--white"><span>Get In Touch</span><i class="icon-arrow-thin-right"></i></a>
                </div>
            </div>
        </div>
        <!-- <div class="copyright">&copy; Copyright {{ now.Year }} {{ .Site.Title }}</div> -->
    </div>
</footer>