<nav class="navbar navbar-expand-sm">
    {{ partial "colorbar.html" . }}
    <a class="navbar-brand" href="{{ $.Site.BaseURL }}">{{ .Site.Title }}</a>
    
    <div class="navbar-title">{{ if .IsHome }}{{- $.Site.Params.strapline -}}{{ else }}{{- .Title -}}{{ end }}</div>
    <div class="Mobile-nav-toggle">
        <div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</nav>
<div class="Mobile-nav" {{if .Params.colorbar }}style="background: {{ .Params.colorbar }}"{{end}}>
    <div class="Nav-grid">
        <div class="Mobile-nav__inner">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>
        <div class="Nav-additional"></div>
    </div>
</div>
