<nav class="navbar navbar-expand-sm">
    {{ partial "colorbar.html" . }}
    <a class="navbar-brand" href="{{ $.Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="navbar-nav ml-auto d-none d-sm-flex">
        {{ range .Site.Menus.main }}
        <div class="nav-item">
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </div>
        {{ end }}
    </div>
    <div class="Mobile-nav-toggle">
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>
<div class="Mobile-nav" {{if .Params.colorbar }}style="background: {{ .Params.colorbar }}"{{end}}>
    <!-- <div class="Mobile-nav__close"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 64 64"><path fill="#FFF" d="M28.941 31.786L.613 60.114a2.014 2.014 0 1 0 2.848 2.849l28.541-28.541 28.541 28.541c.394.394.909.59 1.424.59a2.014 2.014 0 0 0 1.424-3.439L35.064 31.786 63.41 3.438A2.014 2.014 0 1 0 60.562.589L32.003 29.15 3.441.59A2.015 2.015 0 0 0 .593 3.439l28.348 28.347z"/></svg></div> -->
    <div class="Mobile-nav__inner">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    </div>
</div>
