<div class="colorbar" {{ if .Params.colorbar }} style="background: {{ .Params.colorbar }}" {{end}}></div>
{{ if .Params.post_thumbnail }}
<div class="{{ if .Params.post_thumbnail_overlay }}hero__thumb has-overlay{{else}}hero__thumb{{end}}">
    <img data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale,f_auto,q_auto/{{ .Params.post_thumbnail }}"
        class="cld-responsive" alt="{{ .Params.post_thumbnail_alt }}">
</div>
{{ else }}
{{ if .Params.gradient }}<div class="gradient" style="background: linear-gradient({{ .Params.gradient }}, rgba(255, 255, 255, 0));"></div>{{end}}
{{ end }}

<div class="navbar">
    <div class="container">
      <header class="header">
          <div class="mobile-nav-toggle">
              <div class="line"></div>
              <div class="line"></div>
          </div>
          <div class="menu">
            <a href="/" class="site-logo">
                <h1>Drew Kramer</h1>
            </a>
            <div class="nav">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </div>
          </div>
          <div class="header-right">
              <!-- {{ partial "social.html" . }} -->
                <!-- <div class="dark-mode-toggle" data-tooltip="Dark Mode">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8364 32 32 24.8365 32 16C32 7.16345 24.8364 0 16 0C7.16357 0 0 7.16345 0 16C0 24.8365 7.16357 32 16 32ZM24.0024 17.5887C24.2378 17.4534 24.5312 17.4745 24.7451 17.642C24.8516 17.7257 24.9277 17.8377 24.9678 17.9613C25.0078 18.085 25.0117 18.2203 24.9736 18.3507C24.4321 20.2283 23.2827 21.9185 21.7368 23.11C20.1328 24.3465 18.2124 25 16.1826 25C11.1196 25 7 20.8798 7 15.8155C7 13.7857 7.65381 11.8653 8.89062 10.2618C10.082 8.71695 11.7729 7.56778 13.6514 7.02615C13.9126 6.95068 14.1934 7.04187 14.3608 7.25623C14.5283 7.47058 14.5483 7.76508 14.4121 8.00021C13.7695 9.10773 13.4438 10.2858 13.4438 11.5016C13.4438 15.3912 16.6074 18.5555 20.4966 18.5555C21.7065 18.5555 22.8862 18.2302 24.0024 17.5887Z"
                            fill="#040402" />
                    </svg>
                </div> -->
          </div>
          <div class="mobile-nav">
              <div class="mobile-nav__close"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 64 64"><path fill="#FFF" d="M28.941 31.786L.613 60.114a2.014 2.014 0 1 0 2.848 2.849l28.541-28.541 28.541 28.541c.394.394.909.59 1.424.59a2.014 2.014 0 0 0 1.424-3.439L35.064 31.786 63.41 3.438A2.014 2.014 0 1 0 60.562.589L32.003 29.15 3.441.59A2.015 2.015 0 0 0 .593 3.439l28.348 28.347z"/></svg></div>
              <div class="mobile-nav__inner">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </div>
            <!-- {{ partial "social.html" . }} -->
          </div>
      </header>
    </div>
</div>
