.u-visually-hidden {
    display: none;
}



input,
textarea {
    width: 100%;
    display: block;
    border-radius: 4px;
    box-shadow: none;
    background-image: none;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    height: 46px;
    padding: 10px;
    font-size: 16px;
    margin-top: 6px;

    &:focus {
        outline: none;
        border-color: rgba(0, 0, 0, 0.5);
    }
}

textarea {
    height: 120px;
}

form {

    .form-group {
        margin-bottom: 2rem;
    }

    & > .form-group:last-child {
        margin-bottom: 0;
    }

    label {
        display: block;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.85);
    }

    button {
        display: inline-block;
        background: #deb50c;
        color: #fff;
        padding: 18px 32px;
        border-radius: 4px;
        font-size: 16px;
        box-shadow: 0 5px 20px 0 hsla(48, 100%, 41%, 0.2);
        border: 0px;
        cursor: pointer;
        width: 100%;

        &:hover {
            box-shadow: 0 5px 20px 0 hsla(48, 100%, 41%, 0.4);
            transform: translateY(-3px);
        }

        @media (min-width: 600px) {
            width: auto;
        }
    }
}