.header {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 36px 1fr 36px;
    align-items: center;
    
    @media(min-width: 620px) {
      display: flex;
      justify-content: space-between;
      padding-top: 52px;
    }

  & > .social-menu {
    display: none;
      @media(min-width: 620px) {
        display: flex;
        align-items: center;
        flex-direction: row;
      }

      a {
        display: inline-block;
      }
    svg {
      transform: scale(.7);
      display: block;

      path {
        fill: rgba($bluegray, .5);
      }

      &:hover {
        path {
          fill: rgba($bluegray, 1);
        }
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  margin: auto;

  @media(min-width: 620px) {
      margin: 0;
    }

  .site-title {
      h1, span {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 3px;
        margin-left: 0;
        font-weight: 400;
      }
  }
  .nav {
    display: none;
    @media(min-width: 620px) {
      display: flex;
      align-items: center;
    }
    a {
        position: relative;
        margin-left: 30px;
        display: inline-block;
        font-size: 14px;
        color: #777;
        &:before {
          content: "";
          display: block;
          position: absolute;
          margin: auto;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #000;
          transform: scaleX(0);
          transform-origin: right center;
          transition: transform 0.3s cubic-bezier(0.38, 0.32, 0.36, 0.98) 0s;
        }
        &:hover {
          color: #000;
          opacity: 1;
        }
        &:hover:before {
          transform: scale(1);
          transform-origin: left center;
        }
    }
  }

}


.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bluegray;
  animation: fadeInRight .3s;
  z-index: 999;
  
  &__inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 50px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    & > a {
      color: rgba(white, 0.5);
      display: block;
      margin: 0px 30px;
      font-size: 28vw;
      letter-spacing: -4px;
      font-weight: 400;
      line-height: 1;
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px;

    svg {
      width: 30px;
      height: 30px;
      
      path {
        fill: rgba(white, .64);
      }
    }
  }

  .social-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;

    svg {
      transform: scale(.75);
      path {
        fill: rgba(white, .6);
      }
    }
  }

}

.mobile-nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 36px;
  height: 20px;
  cursor: pointer;

    @media(min-width: 620px) {
      display: none;
    }

  .line {
    width: 100%;
    height: 2px;  
    background: rgba(0,0,0,.5);
  }
}

.nav-open {
  overflow: hidden;
}