{{ define "main" }}

    {{ if where .Data.Pages "Section" "work" }}

    <section class="Work reveal">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}
                    <div class="Space"></div>
                </div>
            </div>
            <div class="row">
            {{ range where .Data.Pages "Section" "work" }}

                {{ partial "work-item.html" . }}
        
            {{ end }}
            </div>
        </div>
    </section>

    {{ else }}

    <section class="Posts reveal">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}
                    <div class="Space"></div>
                </div>
            </div>
            <div class="Posts__group">
                {{ range where .Data.Pages "Section" "posts" }}
                    <a class="Post-item reveal" href="{{.Permalink}}">
                        <h3 class="Post-item__title">{{.Title}}</h3>
                        <span class="Post__meta">
                            <span class="date">{{ .PublishDate.Format "January 2, 2006" }}
                            <span class="tags">
                                {{ $taxo := "tags" }}
                                {{ range .Param $taxo }}
                                {{ $name := . }}
                                {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                                    <span class="tag">{{ $name }}</span>
                                {{ end }}
                                {{ end }}
                            </span>
                        </span>
                    </a>
                {{end}}
            </div>
        </div>
    </section>

    {{ end }}



{{ end }}
