{{ define "main" }}
<article class="single-post {{ if .Params.post_thumbnail }}has-post-thumb{{end}}">
  <div class="hero">
    <div class="hero__content">
      <h1 class="post-title">{{ .Title }}</h1>
    </div>
    {{ with .Params.tags }}
    <div class="post-meta">
      {{ range . }}
      <div class="post-meta__item">{{ . }}</div>
      {{ end }}
    </div>
    {{ end }}
  </div>
    <!-- {{ if .Params.Type }}
    <div class="post-list__meta">
      <time class="post-list__date">{{.Date.Format "Mon, Jan 2, 2006"}}</time> {{if .Params.tags }}–{{end}}
      <div class="post-list__tags">
        {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{end}}
      </div>
    </div>
    {{end}} -->
    
  </div>
  <div class="post-content">
  {{ .Content }}
  </div>

  {{if .PrevInSection }}
  <div class="post-footer-navigation">
      {{ with .PrevInSection }}
        <!-- <div class="post-footer-navigation__label">Previous</div> -->
        <a class="post-footer-navigation__link" href="{{.Permalink}}"><i class="icon-arrow-thin-left"></i> {{.Title}}</a>
      {{ end }}
  </div>
  {{end}}
</article>
{{ end }}
