@import url("https://rsms.me/inter/inter-ui.css");
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-40px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
* {
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.2, 0.8, 0.2, 1); }

html,
body {
  margin: 0;
  padding: 0; }

body {
  background: #fffefc;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: normal;
  color: #040402;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

main {
  margin-bottom: 8rem; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: tan; }

h1,
h2,
h3 {
  font-weight: 400;
  color: #040402;
  letter-spacing: -0.6px; }

h2 {
  font-size: 30px;
  margin-bottom: 20px; }

h3 {
  font-size: 24px;
  margin-bottom: 20px; }

p {
  line-height: 1.4;
  margin: 0; }

p, ol, ul {
  color: rgba(4, 4, 2, 0.7); }

blockquote {
  font-size: 24px;
  border-left: 1px solid;
  padding-left: 40px;
  color: #040402; }
  blockquote span.quote-author {
    display: block;
    margin: 20px 0;
    font-size: 16px; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1420px;
  padding-right: 60px;
  padding-left: 60px; }
  @media (max-width: 600px) {
    .container {
      padding-right: 30px;
      padding-left: 30px; } }

.img-circle {
  border-radius: 50%; }

.overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4); }

.text-center {
  text-align: center; }

.b-lazy {
  opacity: 0; }
  .b-lazy.b-loaded {
    opacity: 1; }

.grid {
  display: grid; }

.grid-2 {
  grid-template-columns: 1fr; }
  @media (min-width: 800px) {
    .grid-2 {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; } }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/zon/fonts/icomoon.eot?q6t5q");
  src: url("/fonts/zon/fonts/icomoon.eot?q6t5q#iefix") format("embedded-opentype"), url("/fonts/zon/fonts/icomoon.ttf?q6t5q") format("truetype"), url("/fonts/zon/fonts/icomoon.woff?q6t5q") format("woff"), url("/fonts/zon/fonts/icomoon.svg?q6t5q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:before {
  content: "\e900"; }

.icon-star-full:before {
  content: "\e901"; }

.icon-user-solid-circle:before {
  content: "\e902"; }

.icon-add-outline:before {
  content: "\e903"; }

.icon-arrow-thin-down:before {
  content: "\e904"; }

.icon-arrow-thin-left:before {
  content: "\e905"; }

.icon-arrow-thin-right:before {
  content: "\e906"; }

.icon-arrow-thin-up:before {
  content: "\e907"; }

.icon-checkmark-outline:before {
  content: "\e908"; }

.icon-checkmark:before {
  content: "\e909"; }

.icon-cheveron-down:before {
  content: "\e90a"; }

.icon-cheveron-left:before {
  content: "\e90b"; }

.icon-cheveron-right:before {
  content: "\e90c"; }

.icon-cheveron-up:before {
  content: "\e90d"; }

.icon-close:before {
  content: "\e90e"; }

.header {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 36px 1fr 36px;
  align-items: center; }
  @media (min-width: 620px) {
    .header {
      display: flex;
      justify-content: space-between;
      padding-top: 52px; } }
  .header > .social-menu {
    display: none; }
    @media (min-width: 620px) {
      .header > .social-menu {
        display: flex;
        align-items: center;
        flex-direction: row; } }
    .header > .social-menu a {
      display: inline-block; }
    .header > .social-menu svg {
      transform: scale(0.7);
      display: block; }
      .header > .social-menu svg path {
        fill: rgba(4, 4, 2, 0.5); }
      .header > .social-menu svg:hover path {
        fill: #040402; }

.menu {
  display: flex;
  align-items: center;
  margin: auto; }
  @media (min-width: 620px) {
    .menu {
      margin: 0; } }
  .menu .site-title h1, .menu .site-title span {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
    margin-left: 0;
    font-weight: 400; }
  .menu .nav {
    display: none; }
    @media (min-width: 620px) {
      .menu .nav {
        display: flex;
        align-items: center; } }
    .menu .nav a {
      position: relative;
      margin-left: 30px;
      display: inline-block;
      font-size: 14px;
      color: #777; }
      .menu .nav a:before {
        content: "";
        display: block;
        position: absolute;
        margin: auto;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: right center;
        transition: transform 0.3s cubic-bezier(0.38, 0.32, 0.36, 0.98) 0s; }
      .menu .nav a:hover {
        color: #000;
        opacity: 1; }
      .menu .nav a:hover:before {
        transform: scale(1);
        transform-origin: left center; }

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #040402;
  animation: fadeInRight .3s;
  z-index: 999; }
  .mobile-nav__inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 50px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
    .mobile-nav__inner > a {
      color: rgba(255, 255, 255, 0.5);
      display: block;
      margin: 0px 30px;
      font-size: 28vw;
      letter-spacing: -4px;
      font-weight: 400;
      line-height: 1; }
  .mobile-nav__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px; }
    .mobile-nav__close svg {
      width: 30px;
      height: 30px; }
      .mobile-nav__close svg path {
        fill: rgba(255, 255, 255, 0.64); }
  .mobile-nav .social-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px; }
    .mobile-nav .social-menu svg {
      transform: scale(0.75); }
      .mobile-nav .social-menu svg path {
        fill: rgba(255, 255, 255, 0.6); }

.mobile-nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 36px;
  height: 20px;
  cursor: pointer; }
  @media (min-width: 620px) {
    .mobile-nav-toggle {
      display: none; } }
  .mobile-nav-toggle .line {
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.5); }

.nav-open {
  overflow: hidden; }

.hero {
  width: 100%;
  max-width: 1300px;
  margin: auto; }
  .hero__content {
    max-width: 800px;
    margin-top: 80px;
    margin-bottom: 80px; }
    @media (min-width: 620px) {
      .hero__content {
        margin-top: 160px; } }
  .hero p {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px; }
  .hero--home h2 {
    font-size: 28px;
    line-height: 130%;
    font-size: 30px; }
    @media (min-width: 620px) {
      .hero--home h2 {
        font-size: 42px; } }
  .hero--home .hero__content {
    margin-left: 0 !important;
    text-align: left; }

.footer {
  background: #f1efec;
  padding: 50px 0; }
  .footer .copyright {
    font-size: 14px;
    text-align: center;
    margin: 80px 0 40px;
    opacity: .5; }

.getintouch {
  width: 100%;
  max-width: 1300px;
  margin: 50px auto;
  padding-right: 30px;
  padding-left: 30px; }
  .getintouch-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    max-width: 400px;
    margin: auto;
    text-align: center; }
    @media (min-width: 800px) {
      .getintouch-grid {
        grid-template-columns: 290px 1fr;
        max-width: 800px;
        text-align: left; } }

.getintouch__img img {
  max-width: 240px;
  width: auto;
  filter: grayscale(0.5);
  mix-blend-mode: luminosity; }

.getintouch__words {
  font-size: 18px; }
  @media (min-width: 800px) {
    .getintouch__words {
      font-size: 22px; } }
  .getintouch__words p {
    margin-bottom: 24px; }
  .getintouch__words a {
    background: #fff;
    border-radius: 4px;
    padding: 18px 36px;
    color: #040402;
    display: inline-block;
    font-size: 18px; }
    .getintouch__words a:hover {
      background: #040402;
      color: #fff; }

.sub-footer {
  background: #040402;
  padding: 40px 0 70px; }
  .sub-footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }
  .sub-footer .footer-nav {
    list-style-type: none;
    padding: 20px 0;
    text-align: left; }
    .sub-footer .footer-nav li {
      display: inline-block;
      margin: 0 20px; }
    .sub-footer .footer-nav a {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px; }
      .sub-footer .footer-nav a:hover {
        color: white; }
  .sub-footer .social-menu svg {
    transform: scale(0.7); }
    .sub-footer .social-menu svg path {
      fill: rgba(255, 255, 255, 0.7); }
    .sub-footer .social-menu svg:hover path {
      fill: white; }

.card-group {
  display: grid;
  grid-gap: 40px;
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1340px; }
  @media (min-width: 800px) {
    .card-group {
      grid-gap: 80px;
      margin-bottom: 80px; } }

.card {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  height: 500px; }
  @media (min-width: 800px) {
    .card {
      height: 600px; } }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; }
  @media (min-width: 992px) {
    .card--hoverscale:hover {
      transform: scale(0.98);
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1); } }
  .card--form {
    padding: 1.85rem;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    height: auto; }
    @media (min-width: 800px) {
      .card--form {
        padding: 4rem; } }
  .card .overlay {
    border-radius: 8px; }

.card__text {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  max-width: 100%;
  display: block; }
  @media (min-width: 620px) {
    .card__text {
      bottom: 4rem; } }
  .card__text h2 {
    color: #fff;
    font-size: 22px;
    margin: 0;
    text-align: center; }
    @media (min-width: 620px) {
      .card__text h2 {
        text-align: left;
        padding-left: 4rem; } }
  .card__text a {
    display: block; }

.list .hero__content,
.single-post .hero__content {
  margin-right: auto;
  margin-left: auto; }
.list h1.post-title,
.single-post h1.post-title {
  font-size: 52px;
  text-transform: none;
  letter-spacing: -.5px;
  margin-bottom: 20px;
  font-weight: 400;
  padding: 0 30px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }
  @media (min-width: 620px) {
    .list h1.post-title,
    .single-post h1.post-title {
      font-size: 62px; } }

.single-post .hero {
  margin-bottom: 3rem; }
  @media (min-width: 620px) {
    .single-post .hero {
      margin-bottom: 4rem; } }
.single-post .hero__content {
  margin-bottom: 0; }
.single-post .hero-image {
  position: relative; }
.single-post .post-meta {
  margin: 0 0 3rem;
  text-align: center; }
.single-post .post-meta__item {
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 30px; }
  .single-post .post-meta__item:before {
    content: "/";
    position: absolute;
    right: -20px; }
  .single-post .post-meta__item:last-child {
    margin: 0; }
  .single-post .post-meta__item:last-child:before {
    content: none; }
.single-post .post-content {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto; }
.single-post h2, .single-post h3, .single-post h4, .single-post h5, .single-post p, .single-post ol, .single-post ul, .single-post blockquote {
  margin-right: auto;
  margin-left: auto;
  max-width: 860px;
  padding-right: 30px;
  padding-left: 30px; }
.single-post p, .single-post ol, .single-post ul {
  line-height: 1.5;
  margin-bottom: 3rem;
  font-size: 16px; }
  @media (min-width: 720px) {
    .single-post p, .single-post ol, .single-post ul {
      margin-bottom: 4rem;
      font-size: 18px; } }
.single-post ol,
.single-post ul {
  padding-left: 50px; }
  .single-post ol li,
  .single-post ul li {
    margin-bottom: 8px; }
.single-post figure {
  margin: 3rem 0;
  width: 100%;
  text-align: center; }
  @media (min-width: 720px) {
    .single-post figure {
      margin: 4rem 0; } }
.single-post img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto; }

.post-footer-navigation {
  padding: 6rem 0 0;
  text-align: center; }
  .post-footer-navigation__link {
    font-size: 1.2rem;
    color: rgba(4, 4, 2, 0.6); }
    .post-footer-navigation__link:hover {
      color: #040402; }
      .post-footer-navigation__link:hover i {
        margin-right: 20px; }
    .post-footer-navigation__link i {
      font-size: 80%;
      margin-right: 15px; }

.u-visually-hidden {
  display: none; }

input,
textarea {
  width: 100%;
  display: block;
  border-radius: 4px;
  box-shadow: none;
  background-image: none;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.25);
  height: 46px;
  padding: 10px;
  font-size: 16px;
  margin-top: 6px; }
  input:focus,
  textarea:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.5); }

textarea {
  height: 120px; }

form .form-group {
  margin-bottom: 2rem; }
form > .form-group:last-child {
  margin-bottom: 0; }
form label {
  display: block;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.85); }
form button {
  display: inline-block;
  background: #deb50c;
  color: #fff;
  padding: 18px 32px;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 5px 20px 0 rgba(209, 167, 0, 0.2);
  border: 0px;
  cursor: pointer;
  width: 100%; }
  form button:hover {
    box-shadow: 0 5px 20px 0 rgba(209, 167, 0, 0.4);
    transform: translateY(-3px); }
  @media (min-width: 600px) {
    form button {
      width: auto; } }

body.dark-mode {
  background: #292927;
  color: #fff; }

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode p,
.dark-mode ul,
.dark-mode ol,
.dark-mode blockquote,
.dark-mode .post-meta {
  color: #fff; }
.dark-mode .header > .social-menu svg path {
  color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=main.css.map */
