{{ define "main" }}

  <section class="Hero">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="Hero__title">{{ .Page.Title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-7">
            {{if .Params.lead }}
            <p class="Hero__lead">
                {{ with .Params.lead }}{{.}}{{end}}
                {{if .Params.website_url }}
                  {{ with .Params.website_url }}
                    <br><br><a href="{{.}}" target="_blank" class="">Visit Website</a>
                  {{end}}
                {{end}}
            </p>
            {{end}}
        </div>
        <div class="col-md-4 offset-md-1 offset-lg-2">
            {{if .Params.role }}
            <div class="Meta-item">
                <p class="Meta">Role</p>
                <p>{{ with .Params.role }}{{.}}{{end}}</p>
            </div>
            {{end}}
            {{if .Params.work_category }}
            <div class="Meta-item">
                <p class="Meta">Project Type</p>
                <p>{{ with .Params.work_category }}{{.}}{{end}}</p>
            </div>
            {{end}}
        </div>
      </div>
    </div>
  </section>
  <section class="Post">
    <div class="container">
      {{ .Content }}
    </div>
  </section>

  {{if .PrevInSection }}
  <div class="Post-nav">
      {{ with .PrevInSection }}
      <span class="Post-nav__label">Previous</span>
      <a class="Post-nav__link" href="{{.Permalink}}"><span>{{.Title}}</span></a>
      {{ end }}
  </div>
  {{end}}

{{ end }}
