{{ define "main" }}

  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="hero__title">{{ .Page.Title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-7">
            {{if .Params.lead }}
            <p class="hero__lead">
                {{ with .Params.lead }}{{.}}{{end}}
            </p>
            {{end}}
        </div>
        <div class="col-md-4 offset-md-1 offset-lg-2">
            {{if .Params.role }}
            <div class="meta-item">
                <p class="meta">Role</p>
                <p>{{ with .Params.role }}{{.}}{{end}}</p>
            </div>
            {{end}}
            {{if .Params.work_category }}
            <div class="meta-item">
                <p class="meta">Project Type</p>
                <p>{{ with .Params.work_category }}{{.}}{{end}}</p>
            </div>
            {{end}}
            {{if .Params.website_url }}
            <div class="meta-item">
              {{ with .Params.website_url }}
                <a href="{{.}}" target="_blank" class="btn btn-outline-dark">Visit Website</a>
              {{end}}
            </div>
            {{end}}
        </div>
      </div>
    </div>
  </section>
  <section class="post">
    <div class="container">
      {{ .Content }}
    </div>
  </section>

  {{if .PrevInSection }}
  <div class="Post-nav">
      {{ with .PrevInSection }}
      <span class="Post-nav__label">Previous</span>
      <a class="Post-nav__link" href="{{.Permalink}}"><span>{{.Title}}</span></a>
      {{ end }}
  </div>
  {{end}}

{{ end }}
