/* Defaults
   ========================================================================== */

body,
html {

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    margin: 0;
    width: 100%;
    max-width: none;
  }

}

// Font defaults
html {
  box-sizing: border-box;
  font-size: #{$base + 'px'};
  font-size: #{$base-font-size + '%'};
  font-family: $font-body;
  color: $color-font-body;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    font-size: #{$base-desktop + 'px'};
    font-size: #{$base-font-size-desktop / 100 + 'rem'};
  }

}

// Line-height & margin reset
* {
  @include line-height(1);
  @include margin(0, 0, 1);

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    @import '../mixins/line-height';
    @import '../mixins/margin';

    @include line-height(1);
    @include margin-bottom(1);
    //max-width: #{$max-width * $base-desktop + 'px'};
    //max-width: #{$max-width + 'rem'};
    margin-left: auto;
    margin-right: auto;
  }

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1420px;
  padding-right: 60px;
  padding-left: 60px;

  @media(max-width: 600px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.img-circle {
    border-radius: 50%;
}

.overlay {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background: rgba(0, 0, 0, 0.4);
}

.text-center {
  text-align: center;
}

.b-lazy {
  opacity: 0;

  &.b-loaded {
    opacity: 1;
  }
}