.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    &-2 {
        @media(min-width: 800px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-3 {
        @media(min-width: 800px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}