.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2a2a2a;
  animation: fadeInDown .5s;
  z-index: 999;
  
  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 6rem 0 0;
    padding-left: 2rem;

    & > a {
      color: rgba(white, 1);
      display: block;
      margin: 0 30px .7rem;
      font-size: 1.5rem;
      letter-spacing: .25px;
      font-weight: 400;
      transition: all .3s;

      &:hover {
        text-decoration: none;
        color: rgba(white, 1);
      }
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;

    svg {
      width: 30px;
      height: 30px;
      
      path {
        fill: rgba(white, .7);
      }
    }
  }

}

.mobile-nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 36px;
  height: 20px;
  cursor: pointer;

    @media(min-width: 620px) {
      display: none;
    }

  .line {
    width: 100%;
    height: 2px;  
    background: rgba(black,.7);
  }
}

.nav-open {
  overflow: hidden;
}