.hero {
  // width: 100%;
  // max-width: 1300px;
  // margin: auto;

  // &__content {
  //   max-width: 800px;
  //   margin-top: 80px;
  //   margin-bottom: 80px;

  //   @media(min-width: 620px) {
  //     margin-top: 160px;
  //   }
  // }
  
  p {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
  }

}

.hero__title {
  line-height: 72px;
  font-size: 62px;
  text-align: center;
  letter-spacing: -0.03em;
  max-width: 940px;
  margin: 8rem auto;
}

.hero__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  animation: fadeIn .4s;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    animation: fadeIn .4s;
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(#FFF, 0) 50%, #FFF 100%);
  }

  &.has-overlay:after {
    background: linear-gradient(rgba(#FFF, 0.5), #FFF);
  }
}
