{{ if .IsHome }}{{ partial "getintouch" . }}{{ end }}
<footer class="sub-footer">
    <div class="container">
        <ul class="footer-nav">
            {{ range .Site.Menus.main }}<li><a href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
        </ul>
        {{ partial "social.html" . }}
    </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

<script src="/js/blazy.js"></script>
<script src="/js/main.js"></script>
