{{ define "main" }}

<section class="Hero reveal">
    <div class="container">
        <div class="row">
            <div class="col-md-10 Hero__content">
                <h1 class="Hero__title">Designer, developer, & creative.</h1>
                <p>I make websites, beautiful & functional digital products, & help brands grow.</p>
            </div>
        </div>
    </div>
</section>
<section class="Work reveal">
    <div class="container">
        <div class="row">
            {{ range where .Pages "Section" "work" }}
                {{ partial "work-item.html" . }}
            {{end}}
        </div>
    </div>
</section>

{{end}}
