{{ define "main" }}

<section class="Hero">
    <div class="container">
        <div class="row">
            <div class="col-md-10 Hero__content">
                <h1 class="Hero__title">Front-end designer making web things awesome.</h1>
            </div>
        </div>
    </div>
</section>
<section class="Work">
    <div class="container">
        <div class="row">
            {{ range where .Pages "Section" "work" }}
                {{ partial "work-item.html" . }}
            {{end}}
        </div>
    </div>
</section>

{{end}}
