.card-group {
  display: grid;
  grid-gap: 20px;
  margin: auto;
  margin-bottom: 4rem;
  width: 100%;
//   padding-right: 20px;
//   padding-left: 20px;
  max-width: 1420px;

  &--2 {
      @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
      }
  }

}

.card {
    width: 100%;
    background: #fff;
    position: relative;
    height: 400px;

    @media (min-width: 800px) {
        height: 500px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--form {
        padding: 1.85rem;
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        height: auto;

        @media (min-width: 800px) {
            padding: 4rem;
        }
    }
    // .overlay {
    //     display: inline-block;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     background: rgba(0, 0, 0, 0.4);
    //     opacity: 0;
    // }
}

.card__text {
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .3s;
  
  h2 {
      color: #fff;
      font-size: 20px;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
      width: 100%;
      font-weight: 400;
  }

  a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
  }
}

.card:hover {
    .card__text {
        opacity: 1;
    }
}