.card-group {
  display: grid;
  grid-gap: 40px;
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1340px;

  @media (min-width: 800px) {
    grid-gap: 80px;
    margin-bottom: 80px;
  }
}

.card {
    width: 100%;
    background: #fff;
    position: relative;
    height: 400px;

    @media (min-width: 800px) {
        height: 500px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--hoverscale:hover {
        @media (min-width: 992px) {
            transform: scale(.98);
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
        }
    }

    &--form {
        padding: 1.85rem;
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        height: auto;

        @media (min-width: 800px) {
            padding: 4rem;
        }
    }
}

.card__text {
  position: absolute;
  bottom: 3rem;
  max-width: 100%;
  display: block;

  @media(min-width: 620px) {
    bottom: 4rem;
  }
  
  h2 {
      color: #fff;
      font-size: 22px;
      margin: 0;
      text-align: center;
      padding: 20px 35px;
      background: rgba($bluegray,.9);

      @media(min-width: 620px) {
          text-align: left;
          margin-left: 4rem;
      }
  }

  a {
      display: block;
  }
}