body.dark-mode {
    background: #292927;
}

.dark-mode {
    h1,
    h2,
    h3,
    h4,
    p,
    ul,
    ol,
    blockquote,
    .post-meta {
        color: #fff;
    }

    .header {

        &-right {

            svg path {
                fill: rgba(255,255,255,.5);
            }

            a:hover,
            .dark-mode-toggle:hover {
                svg path {
                    fill: rgba(255, 255, 255, .8);
                }
            }
        }
    }

    .dark-mode-toggle {
        &:before {
            background: #333;
            color: #fff;
        }
        &:after {
            background: rgba(white, .25);
        }
    }
}

.dark-mode-toggle {
    margin-left: 20px;
    position: relative;

    &:before {
        z-index: 1;
        display: none;
        content: attr(data-tooltip);
        font-size: 10px;
        background: #eee;
        padding: 6px 7px;
        position: absolute;
        width: 100px;
        top: 4px;
        right: 120%;
        text-align: center;
        animation: fadeInLeftSmall .3s;
    }

    &:after {
        content: "";
        height: 22px;
        width: 1px;
        top: 6px;
        background: rgba(black, .25);
        position: absolute;
        left: -11px;
    }

    &:hover:before {
        display: block;
    }
}
