.Form {
    margin: 2rem 0;

    &--contact {
      max-width: 600px;
      border: 1px solid rgba(#000,.25);
      padding: 4%;
    }

    .form-control {
      border-radius: 0;
      height: calc(2.75rem + 2px);
    }

    textarea {
        min-height: 120px;
    }

    .btn {
        margin-bottom: 0;
    }
}
.Form__group {  
  margin-top: 15px;
  display: block;

  &:first-child {
        margin-top: 0;
    }
}
.Form__label {
  margin-bottom: 0;
}