.Mobile-nav {
  display: none;
  position: absolute;
  top: 4.25rem;
  right: 20px;
  width: 100%;
  max-width: 150px;
  background: #2a2a2a;
  border-radius: .25rem;
  box-shadow: 0 10px 20px rgba(black, .2);
  animation: fadeInDown .4s;
  z-index: 999;
  
  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1.5rem;

    & > a {
      color: rgba(white, 1);
      display: block;
      margin: 0 0 .5rem;
      font-size: inherit;
      letter-spacing: .25px;
      font-weight: 400;
      transition: all .3s;

      &:hover {
        text-decoration: none;
        color: rgba(white, 1);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;

    svg {
      width: 30px;
      height: 30px;
      
      path {
        fill: rgba(white, .7);
      }
    }
  }

}

.Mobile-nav-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 36px;
  height: 20px;
  cursor: pointer;

    @media(min-width: 576px) {
      display: none;
    }

  .line {
    width: 100%;
    height: 2px;  
    background: rgba(black,.7);
  }
}

.nav-open {
  //overflow: hidden;
}

.resume {
  .Mobile-nav {
    width: 100%;
    max-width: 260px;
  }
}