//@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

@import '../bootstrap/functions';
@import '../bootstrap/variables';
@import '../bootstrap/mixins';

@import '../bootstrap/reboot';
@import '../bootstrap/type';
@import '../bootstrap/images';
@import '../bootstrap/buttons';
@import '../bootstrap/forms';
@import '../bootstrap/grid';
@import '../bootstrap/nav';
@import '../bootstrap/navbar';
@import '../bootstrap/utilities';

@import 'fonts';
@import 'base';
//@import 'animations';
@import 'core/shevy';

@import 'post';
@import 'footer';
@import 'header';
@import 'grid';
@import 'hero';
@import 'forms';

@import 'inverse';

$font-default: "Karla", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-headings: "butlerlight", Georgia, serif;
$font-mono: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;

$shevy: (
  base-font-size: 18px,
  base-font-scale: (3, 2.5, 2, 1.5, 1.25, 1),
  base-line-height: 1.5,
  margin-bottom: true,
  proximity: true,
  proximity-factor: .85
);
$responsive-medium: (
  base-font-size: 20px,
  base-font-scale: (4, 2.8, 2.1, 1.5, 1.25, 1),
  base-line-height: 1.5,
  margin-bottom: true,
  proximity: true,
  proximity-factor: .85
);
$responsive-large: (
  base-font-size: 21px,
  base-line-height: 1.6,
  base-font-scale: (5.2, 3, 2.2, 1.5, 1.25, 1),
  margin-bottom: true,
  proximity: true,
  proximity-factor: .85
);
@include headings;
@include body;
@include content;

@media (min-width: 521px) {
  @include headings($responsive-medium);
  @include body($responsive-medium);
  @include content($responsive-medium);
}
@media (min-width: 992px) {
  @include headings($responsive-large);
  @include body($responsive-large);
  @include content($responsive-large);
}

html.sr .reveal {
  visibility: hidden;
}

body {
  position: relative;
  background: #efefef;

  font-family: $font-default;
  color: rgba(black, 0.7);
}


::selection {
  background: rgba(black, .1);
  color: black;
}

.Colorbar {
  background: #1a1a1a;
  height: .75rem;
  width: 100%;
}

.Wrapper {
  @media(min-width: 576px) {
    padding-left: 80px;
  }

  .Colorbar {
    display: none;
    position: relative;
    @media(min-width: 576px) {
      display: block;
    }
  }
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

.Hero-title {
    line-height: .98;
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4 {
  font-family: $font-headings;
  font-weight: 400;
  color: #1a1a1a;
}

h3,
h4 {
  font-weight: 400;
}

h1 {
  letter-spacing: -1px;
  line-height: 1;
}

h4 {
  margin-bottom: .6rem;
}

h5 {
  font-size: inherit;
  font-family: $font-default;
  font-weight: bolder;
  margin-bottom: inherit;
  color: #1a1a1a;
}

strong {
  color: #1a1a1a;
}

.Meta {
    font-size: 75%;
    margin-bottom: 1px;
    text-transform: uppercase;
    color: rgba(black, 0.7);
}
.Meta-item {
  margin-bottom: 2rem;
  color: #1a1a1a;

  .btn {
    margin-bottom: 0;
  }
}

main {
  margin: 4rem auto 0;
}

hr {
    margin: 3rem auto;
}

img {
  max-width: 100%;
  height: auto;
}

img.lazy {
  opacity: 0;
  transition: opacity .2s;
}
img.lazy.loaded {
  opacity: 1;
}

figcaption {
  margin: 1rem auto;
  padding: 0 20px;
  font-size: 80%;
}

.text-center {
  text-align: center;
}

.btn {
  @include body;
  @media (min-width: 521px) {
    @include body($responsive-medium);
  }
  @media (min-width: 992px) {
    @include body($responsive-large);
  }
}

.Space {
  height: 3rem;
}

.navbar {
  padding: 1.5rem 20px 0;

  @media (min-width: 576px) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    background: #fff;

    width: 80px;
    min-height: 500px;
    padding: 0;
  }

  &-brand {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    color: #1a1a1a;
    transition: color .3s;

    &:hover {
      color: #000;
    }

    @media (min-width: 576px) {
      position: absolute;
      top: 106px;
      left: -41px;

      transform: rotate(90deg);

      margin: 0;
      padding: 0;
    }
  }

  .nav-item {
    margin-right: .5em;
    margin-left: .5em;
    a {
      color: rgba(black, 0.7);
      font-size: 18px;
      transition: all .3s;

      &:hover {
        color: #000;
        background: #fff;
      }
    }
  }

  .navbar-nav {
    @media (min-width: 576px) {
      position: absolute;
      bottom: 140px;
      left: -95px;
  
      transform: rotate(90deg);
    }
  }

  .Colorbar {
    position: absolute;
    top: 0;
    left: 0;
  }
  
}


.Hero {
  margin: 1.5rem auto;

  @media (min-width: 600px) {
    margin: 4rem auto;
  }

  &--centered {
    text-align: center;
  }
}

.Hero__title {
  line-height: 1;
  
  @media (min-width: 768px) {
    margin-bottom: 4rem;
  }
}

.Home .Hero__content {
  @media (min-width: 768px) {
    margin-bottom: 1rem;
  }
  .Hero__title {
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      margin-bottom: 2rem;
    }
  }
}

.Work {
  padding-bottom: 4rem;
}

.Work__item {
  display: block;
  text-align: left;
  margin-bottom: 3rem;
  color: #000;
  transition: all .3s;

  &:hover {
    color: #000;
    text-decoration: none;
    transform: translateY(-5px);
  }
}

.Work__item-title {
  font-family: $font-default;
  margin: 1rem auto 0;
  text-transform: none;
  font-size: 90%;
  letter-spacing: 0;
  font-weight: 700;
  color: rgba(black, 0.98);
  line-height: 1.4;

  span {
    font-size: 80%;
    display: block;
    opacity: .5;
    font-weight: normal;
  }
}

.Work__image {
    height: 400px;
    @media(min-width: 576px) {
      height: 380px;
    }
    @media(min-width: 768px) {
      height: 360px;
    }
  @media(min-width: 992px) {
    height: 480px;
  }
  @media(min-width: 1200px) {
    height: 560px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.Work-item__desc {
  font-size: 85%;
  color: rgba(black, 0.7);
}
  
.Post {
  min-height: calc(100vh - 200px);
  padding-bottom: 1.5rem;
  
  @media (min-width: 576px) {
    padding-bottom: 4rem;
    min-height: calc(100vh - 140px);
  }

  img {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
  
  h1, h2, h3, h4, p, ul, ol, {
    max-width: 660px;
  }

}

ul, ol {
  padding-left: 0;
}

.Post-nav {
  text-align: center;
}

.Post-nav__label {
  font-size: 65%;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
}

.Post-nav__link {
  position: relative;
  margin: .5rem 0 3.5rem;
  display: inline-block;
  //text-transform: uppercase;
  letter-spacing: 0;
  color: #1a1a1a;
  padding: 1rem;
  font-weight: bolder;

  @media (min-width: 600px) {
    margin: 1rem 0 6rem;
  }

  span {
    display: inline-block;
    transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    height: 2px;
    background: #1a1a1a;
  }

  &:hover {
    text-decoration: none;
    color: #1a1a1a;

    span {
      transform: translateY(3px);
    }
  }

  &:hover:before {
    left: 20%;
    right: 20%;
  }
}

.Image-group {
  text-align: center;

  &--full {
    width: 100%;
    background: transparent;

    @media (min-width: 576px) {
      padding-right: 20px;
      padding-left: 20px;
    }

  }

  .Image {
    width: 100%;
    max-width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
      box-shadow: 0 10px 40px rgba(black, .15);
    }
    
    @media(min-width: 600px) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
  
  .Image,
  img {
    margin-right: auto;
    margin-left: auto;
  }
  img {
    width: 100%;
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.btn {
  font-size: 90%;
  font-weight: bold;
  border-radius: 0;
  border-width: 3px;
  padding: .7rem 1.5rem;
}

.Footer {
  background: #1a1a1a;
  color: #fff;
  padding: 1.25rem 0;

  .nav {
    justify-content: center;
  }

  .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin: 0 1rem;    
  }

  a {
    color: #fff;
    transition: all .3s;
    font-size: 70%;

    &:hover {
      color: rgba(#fff, .8);
    }
  }
}

.About__hero {
  position: relative;

  .container {
    position: relative;
  }

  .About__avatar-block {
    @media (min-width: 992px) {
      position: absolute;
      width: 46%;
      height: calc(100% + 4rem);
      transform: translateY(-4rem);
    }
  }

  .About__hero-image {
    @media (min-width: 992px) {
      margin: auto auto 3rem;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.Content-block {
  padding: 6rem 0;

  &--light {
    background: #fff;
  }

  &--dark {
    background: #1a1a1a;
    * {
      color: #fff;
    }
  }

  &--blue {
    background: #E9FBFE;
  }

  &--green {
    background: #D2F7EC;
  }
}

.Responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 2rem auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}